/* Font import: Muli */

@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;600;700&display=swap');

:root {
  --green: #4c856d;
  --salmon: #e49273;
  --black: #484041;
  --white: #fefefe;
}

body,
html {
  background-color: var(--white);
  height: 100%;
}

h1,
h2,
span,
a,
p {
  color: var(--black);
  font-family: 'Muli', sans-serif;
}

a {
  text-decoration: none;
}

.invisible {
  display: none;
}

.header {
  background-color: var(--green);
  height: 200px;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
}

.back-to-category {
  color: var(--white);
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.back-to-category p {
  color: var(--white);
  margin-left: -5px;
}

p.date {
  color: var(--white);
  font-size: 1.5rem;
  margin-top: 55px;
}

p.index-date {
  margin-top: 104px;
}

.categories {
  background-color: var(--white);
  width: 100vw;
  position: fixed;
  top: 150px;
  right: 0;
  left: 10px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.categories-container {
  padding: 15px 25px 15px 15px;
}

.category-heading {
  font-size: 2rem;
  margin-bottom: 40px;
}

.category {
  display: flex;
  justify-content: space-between;
}

.circle-link {
  display: flex;
  align-items: center;
}

.circle {
  width: 20px;
  height: 20px;
  border: 2px solid var(--black);
  border-radius: 50%;
  margin-right: 5px;
  position: relative;
  overflow: hidden;
}

.circle input {
  position: absolute;
  top: -2px;
  left: -4px;
  height: 20px;
  width: 20px;
}

.category i {
  font-size: 1.5rem;
}

.add-category {
  position: fixed;
  bottom: 30px;
  display: flex;
  align-items: center;
}

.add-category-form,
.add-todo-form {
  height: 100px;
  width: 250px;
  background-color: blue;
  position: fixed;
  bottom: 60px;
  left: 45px;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-text {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  position: fixed;
  display: inline-block;
  top: 20px;
  right: 10px;
  color: white;
  z-index: 10;
  font-size: 1.2rem;
  padding: 10px;
  text-transform: uppercase;
}

input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  outline: none;
  font-size: 1.5rem;
  background-color: beige;
  padding: 15px;
}